{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container">

    <div class="row">
        <aside class="col-md-3">

            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Product type</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="card-body">
                            <form class="pb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>

                            <ul class="list-menu">
                                {% for item in filter_category %}
                                <li><a href="?type_p={{forloop.counter}}">{{item}} </a></li>
                                {% endfor %}
                            </ul>

                        </div> <!-- card-body.// href="?type_p={{ product.number|add:'5' }}"-->
                    </div>
                </article> <!-- filter-group  .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Brands </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_2" >
                        <div class="card-body">
                            {% for item, value in shiping.items %}
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" id="{{item}}" onclick="checkbox_redirect(this)"
                                    {% if value.1 %}checked{% endif %} class="custom-control-input">
                                <div class="custom-control-label">{{item}}
                                    <b class="badge badge-pill badge-light float-right">{{value.0}}</b>
                                </div>
                            </label>
                            {% endfor %}
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group slider two way.// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Price range </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3" >
                        <div class="card-body">
                            <!-- <input type="range" class="custom-range" min="0" max="100" name=""> -->

                            <!-- Two Way slider  -->
                            <div class="col-md-12">
                                <div class="slider-wrapper slider-success slider-strips"
                                    onmouseup="slider_mouseUP(this)">
                                    <input class="input-range" type="text" data-slider-step="1" id="two_slide"
                                        data-slider-value="{{price_range.0}}, {{price_range.1}}" data-slider-min="0"
                                        data-slider-max="20000" data-slider-range="true"
                                        data-slider-tooltip_split="true" />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number" id="min_num">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number" id="max_num">
                                </div>
                            </div> <!-- form-row.// -->
                            <button type="submit" class="btn btn-block btn-primary"
                                onclick="range_click(this)">Apply</button>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <!-- <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Sizes </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_4" style="">
                        <div class="card-body">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div>
                    </div>
                </article> filter-group  two way slider.// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">More filter </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse in" id="collapse_5">
                        <div class="card-body">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <div class="custom-control-label">Any condition</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Brand new </div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Used items</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Very old</div>
                            </label>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <main class="col-md-9">

            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <span class="mr-md-auto">{{ total_product }} Items found </span>
                    <select class="mr-2 form-control">
                        <option>Latest items</option>
                        <option>Trending</option>
                        <option>Most Popular</option>
                        <option>Cheapest</option>
                    </select>
                    <div class="btn-group">
                        <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip" title="List view">
                            <i class="fa fa-bars"></i></a>
                        <a href="#" class="btn  btn-outline-secondary" data-toggle="tooltip" title="Grid view">
                            <i class="fa fa-th"></i></a>
                    </div>
                </div>
            </header><!-- sect-heading -->

            {% for item in product %}
            <article class="card card-product-list">
                <div class="row no-gutters">
                    <aside class="col-md-3">
                        <a href="#" class="img-wrap">
                            <span class="badge badge-danger"> NEW </span>
                            <img src="{{ item.image }}">
                        </a>
                    </aside> <!-- col.// -->
                    <div class="col-md-6">
                        <div class="info-main">
                            <a href="#" class="h5 title"> {{ item.product_name }} </a>
                            <div class="rating-wrap mb-3">
                                <ul class="rating-stars">
                                    <li style="width:80%" class="stars-active" id="rat_id" value="{{ item.rating }}">
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>
                                </ul>
                                <div class="label-rating">{{ item.rating }}/10</div>
                            </div> <!-- rating-wrap about_product.product_specification// -->

                            <p id='about_product'> {{ item.about_product }}
                            </p>
                        </div> <!-- info-main.// -->
                    </div> <!-- col.// -->
                    <aside class="col-sm-3">
                        <div class="info-aside">
                            <div class="price-wrap">
                                <span class="price h5"> ${{ item.selling_price }} </span>
                                <del class="price-old"> ${{ item.discount_percentage }}</del>
                            </div> <!-- info-price-detail // -->
                            <p class="text-success">{{ item.shiping }}</p>
                            <br>
                            <p>
                                <a href="#" class="btn btn-primary btn-block"> Cart </a>
                                <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                                    <span class="text">Add to wishlist</span>
                                </a>
                            </p>
                        </div> <!-- info-aside.// -->
                    </aside> <!-- col.// -->
                </div> <!-- row.// -->
            </article> <!-- card-product .// -->
            {% endfor %}

            <!--Pagination justify-content-center-->
            <nav aria-label="Page navigation example">
                <ul class="pagination ">
                    {% if product.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                    </li>
                    {% endif %}

                    {% if product.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ product.number|add:'-5' }}">&hellip;</a>
                    </li>
                    {% endif %}

                    {% for i in product.paginator.page_range %}
                    {% if product.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% elif i > product.number|add:'-5' and i < product.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}"
                            onclick="page_number(this)">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if product.paginator.num_pages > product.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ product.number|add:'5' }}">&hellip;</a>
                    </li>
                    {% endif %}

                    {% if product.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!--end of Pagination-->
            <!-- End -->

        </main> <!-- col.// -->

    </div>

</div> <!-- container .//  -->
<!-- python to JS variable product-->
{{ item.rating|json_script:"rating-count"}}
{{ product.discount_percentage|json_script:"product-discount"}}
<script>
    // var about_prod = document.getElementById('about_product')
    var about_prod = document.querySelectorAll("[id='about_product']");

    function percentage(num, per) {
        return (num / 100) * per;
    }
    var discount_price = document.getElementsByClassName('price-old');
    var real_price = document.getElementsByClassName('price h5');

    console.log('Discount : ', discount_price);
    for (var i = 0; i < discount_price.length; i++) {
        var main = percentage(parseFloat(discount_price[i].innerHTML.replace('$', '')), parseFloat(real_price[i].innerHTML.replace('$', ''))).toFixed(2)
        discount_price[i].innerHTML = (parseFloat(main) + parseFloat(real_price[i].innerHTML.replace('$', ''))).toFixed(2)
    }
    // string.replace('$', ''); parseFloat

    for (var i = 0; i < about_prod.length; i++) {

        var str = about_prod[i].innerHTML;
        var words = str.split(" ");
        var sentense = '';
        for (var j = 0; j < 20; j++) {
            sentense += words[j] + ' '
        }
        about_prod[i].innerHTML = sentense
    }

    var stringToHTML = function (str) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(str, 'text/html');
        return doc.body;
    };

    var prod_rat = document.querySelectorAll("[id='rat_id']");
    var rat_elem = document.getElementsByClassName('fa fa-star')[0]
    // var rat_elem = stringToHTML('<i class="fa fa-star"></i>');
    rat_elem.classList.add('mr-1')
    console.log('Star  : ', rat_elem)
    for (var i = 0; i < prod_rat.length; i++) {
        for (var j = 0; j < prod_rat[i].value / 2; j++) {
            // console.log(j)
            prod_rat[i].appendChild(rat_elem.cloneNode(true))
        }
    }

    function page_number(event) {
        console.log('Page number Click : ', event)
        console.log('Current page Link : ', window.location.href)
    }

    function checkbox_redirect(event) {
        console.log('Checkbox clicked', event)
        console.log('Current url', window.location)
        if (event.checked == true) {
            console.log('Check BOx', event.id)
            if (event.id == 'Conditional Delivery') { document.getElementById('Free Delivery').checked = false }
            if (event.id == 'Free Delivery') { document.getElementById('Conditional Delivery').checked = false }
        } else { event.id = '' }
        window.location = "?delivery=".concat(event.id);
        // window.location = window.location + "?type_p=3"
    }

    // Slider Controll
    (function ($) {
        $(document).ready(function () {
            $('.input-range').each(function () {
                var value = $(this).attr('data-slider-value');
                var separator = value.indexOf(',');
                if (separator !== -1) {
                    value = value.split(',');
                    value.forEach(function (item, i, arr) {
                        arr[i] = parseFloat(item);
                    });
                } else {
                    value = parseFloat(value);
                }
                $(this).slider({
                    formatter: function (value) {
                        // console.log('Range value ',value);
                        return '$' + value;
                    },
                    min: parseFloat($(this).attr('data-slider-min')),
                    max: parseFloat($(this).attr('data-slider-max')),
                    range: $(this).attr('data-slider-range'),
                    value: value,
                    tooltip_split: $(this).attr('data-slider-tooltip_split'),
                    tooltip: $(this).attr('data-slider-tooltip')
                });
            });

        });
    })(jQuery);

    function slider_mouseUP(event) {
        var slider_value = event.getElementsByTagName('input')[0].value
        console.log('Value :', slider_value)
        $.ajax({
            type: 'GET',
            url: window.location,
            data: { 'p_range': slider_value },
            success: function (response) {
                console.log('Response get with ')
                window.location.reload()
            },
            error: function (response) {
                console.log(response)
            }
        })
        // window.location.reload()
    }

    function range_click(event) {
        var min_value = document.getElementById('min_num').value
        var max_value = document.getElementById('max_num').value

        console.log('Value :', min_value, max_value)
        $.ajax({
            type: 'GET',
            url: window.location,
            data: { 'min_val': min_value, 'max_val': max_value },
            success: function (response) {
                console.log('Response get with ')
                window.location.reload()
                document.getElementById('min_num').value = ''
                document.getElementById('max_num').value = ''
            },
            error: function (response) {
                console.log(response)
            }
        })

    }

    // document.getElementById("two_slide").addEventListener("mouseup", function (this) {
    //     console.log('Slider : ', this)
    // });

</script>
{% endblock %}
